*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

header{
    position: fixed;
    /* debug */
    background-color: blue;
    height: 3rem;
    /* se cambia altezza cambia anche main */
    width: 100%;
}
.container{
    width: 90%;
    margin: auto;
    /* debug */
    background-color: red;
    height: 100%;
}
.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    position: relative;
    /* debug */
    background-color: yellow;
}

li{
    list-style-type:none
}

.menu li{
    position: absolute;
    display: none;
}

main{
    /* se cambia deve cambiare anche altezza header */
    padding: 3rem 0;
    /* se cambia deve cambiare anche altezza header */
}

section{
    padding: 2rem 0; 
}


.primaSection{
    background-color: yellow;
}

.row{
    
    /* debug */
    background-color: blue;
    border: 1px solid black;
}

.col{
    margin: 0 0 0.5rem ;
    /* debug */
    height: 2rem;
    background-color: yellowgreen;
    border: 1px solid black;
}

.sectionViola {
    background-color: #9792E4;
    
    /* debug */
}

.colInteraMeta{
    width: 100%;
    /* debug */
    height: 5rem;
    border: 1px solid black;

}

.terzaSection{
    /* debug */
    background-color: yellow;
    height:40rem;
    width: 100%;
}
.presentazione{
    /* debug */
    background-color: blue;
    height: 3rem;
    width: 100%;
    border: 1px solid white;
}

/* inizio terza section con foto e feedback */
.contFeedBack{
    background-color: #9792E4;
    /* debug */
    
    height: 3rem;
    width: 100%;
    border: 1px solid black;
}
.terzaSection .secondCol{
    
    /* debug */
    background-color: green;
    height: 100%;
    border: 1px solid white;
}
.terzaSection .firstCol{
    
    /* debug */
    background-color: green;
    height: 100%;
    border: 1px solid white;
}









@media screen and (min-width: 600px){
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .col{
        margin-bottom: 0.6rem;
    }
    .firstCol{
        width: calc((100% / 3) *2 - 0.3rem);
    }
    
    .secondCol{
        width: calc((100% / 3) - 0.6rem);
    }
    .secondRowCol{
        width: calc((100% / 3) - 0.6rem);
    }
    .sectionViola .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .elencoAgevolazioni .colInteraMeta{
        width: calc(50% - 0.5rem);
    }
    .contFeedBack{
        display: flex;
        justify-content: space-between;
    }
    
}


@media screen and (min-width: 1200px){
    .container{
        width: 60%;
    }
    .close{
        display: none;
    }
    .menu li{
        display: inline-block;
        position: relative;
    } 
    .sectionViola{
        display: flex;
    }
    .meta .colInteraMeta{
        width: calc(50% - 0.5rem);
    }
    .elencoAgevolazioni .colInteraMeta{
        width: calc(100% / 3 - 0.7rem);
    }
}






