*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

header{
    /* position: fixed; */
    background-color: var(--backGroundStylePage);
    z-index: 100;
    width: 100%;
}

/* container standard per tutta la pagina */
.container{
    width: var(--larghezzaContainer);
    margin: auto;
}

.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    position: relative;
    padding: 1.5rem 0;
}

/* menu a panino */
.fa-bars{
    font-size: 2rem;
    color: var(--colorWhite);
}

a{
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--colorWhite);
}
.button.white{
    background-color: var(--backGroundColorButtonWhite);
    color: var(--colorBlackButton);
}

.button{
    padding: 0.5rem 2rem;
    border-radius: 30px;
    
}

.button:hover{
    box-shadow: 1px 5px rgba(0, 0, 140, 0.3);
    cursor: pointer;
}
.button:active{
    box-shadow: -1px -5px rgba(0, 0, 140, 0.3);
}

li{
    list-style-type:none;
    padding: 0 10px;
    height: 100%;
}

.menu li{
    position: absolute;
    display: none;
}



/* inizio main */
main{
    /* se cambia deve cambiare anche altezza header */
    padding-top: 6rem;
    /* se cambia deve cambiare anche altezza header */
}

/* padding generico a tutte le section */
section{
    padding: var(--distanceSectionPadding); 
}


/* misure standard per tutti i col */
.col{
    margin: 0 0 2rem ;
    border-radius: var(--borderRadiusRound);
    background-color: #B5DDFF;
    padding: var(--paddinContainer);
    
}

.firstSection .col.firstCol{
    padding-bottom: 0;
}
/* inizio prima section */
.margineDistanza{
    margin-bottom: var(--marginDividedInternSection);
    width: 100%;
}




.firstSection .button{
    
    background-color: var(--backGroundStylePage);
    color: var(--colorButtonWhite);
    
}

.metaColonna.immagine{
    width: 100%;
}

main img{
    max-width: 100%;
    margin: auto;
}
.secondCol, .secondRowCol{
    text-align: center;
}


.col .fa-solid{
    font-size: 6rem;
    
    
}

main i{
    margin-top: 1.5rem;
    color: #0084FD;
    margin-bottom: var(--distanceTextSection);
}

/* seconda section quarta e sesta..raggruppamento sezioni viola */
/* colore standardizzato per 2, 4, 6 section */
.sectionViola {
    background-color: var(--backgroundColorStyleSection);
}

.colInteraMeta{
    width: 100%;
    border-radius: var(--borderRadiusRound);
    
}

.whiteColor{
    color: var(--colorWhite);
}

.backWhite{
    background-color: white;
    text-align: center;
}

.colInteraMeta i{
    background-color: #9792E4;
    color: black;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}

/* inizio terza section */
.presentazione{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.terzaSection .secondCol{

}


.secondCol.immagineCerchio{
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    
}

.secondCol img{
    height: 100%;
    object-fit: cover;
    
}


.contFeedBack{
    background-color: #9792E4;
    padding: 2rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    text-align: center;
    
}
.terzaSection .secondCol{
    
   
}
.terzaSection .firstCol{
    
    /* debug */
    background-color: green;
    height: 100%;
    border: 1px solid white;
}


/* quarta section */
.colInteraMeta{
    padding: 2rem;

}

.colInteraMeta .button{
    background-color: #9792E4;
}
/* inizio quinta sezione */

.quintasezione{
    /* debug */
    width: 100%;
}

.quintasezione .virgolette{
    position: relative;
}
.virgolette i{
    font-size: 4rem;
    position: absolute;
    left: 150px;
    top: -30px;

}


/* sesta section */
.containerFinePagina{
    width: 90%;
    margin: auto;
    text-align: center;
}

.containerFinePagina .button{
    background-color: var(--colorButtonWhite);
    color: var(--colorBlackButton);
}

.containerButton{
    margin-bottom: var(--distanceTextSection);
}

.containerFinePagina .span{
    padding: 1.5rem;
}
/* inizio footer */

footer{
    background-color: black;
}

.containePlittle{
    width: 50%;
    margin: auto;
    padding: var(--distanceTextSection);
}





/* inizio media query */
@media screen and (min-width: 768px ){
    .row{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        
    }
    .col{
        margin-bottom: 0.6rem;
    }
    .firstCol{
        width: calc((100% / 3) *2 - 0.3rem);
        
    }
    
    .secondCol{
        width: calc((100% / 3) - 0.6rem);
    }
    .secondRowCol{
        width: calc((100% / 3) - 0.6rem);
    }
    .sectionViola .container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        gap: 1rem;
    }

    
/* terza section */
    .quartaSection .colInteraMeta{
        width: calc(50% - 0.5rem);
    }
    
    .contFeedBack{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .textCol{
        width: 80%;
    }
    

    .terzaSection .secondCol{
        left: 0;
        transform: translate(+10%);
    }

    strong{
        display: block;
    }

    /*  */
    .quartaSection .tuttoLoSpazio{
        width: 100%;
        text-align: center;
    }

    .quintasezione .container{
        display: flex;
        
    }
    .contenutiQuartaSezione.grande{
        width: calc(75% - 4rem);
        margin-right: 4rem;
    }
    .contenutiQuartaSezione.piccolo{
        width: 25%;
    }
    footer .colInteraMeta{
        margin: var(--marginAuto);
    }
    .containerFinePagina{
        width: 70%;
        
    }
    
}


@media screen and (min-width: 1200px ){
    
    .container{
        width: 60%;
    }
    .close{
        display: none;
    }
    .menu li{
        display: inline-block;
        position: relative;
    } 

    .firstCol{
        display: flex;
    }

    .metaColonna.immagine{
        align-self: flex-end;
    }
    /* .sectionViola{
        display: flex;
    } */
    .meta .colInteraMeta{
        width: calc(50% - 0.5rem);
    }
    .quartaSection .colInteraMeta{
        width: calc(100% / 3 - 0.7rem);
    }
    .containerFinePagina{
        width: 50%;
        
    }
}






